{% load i18n %}
{% load product_tags %}

{% with products_sliced=products|slice:":4" %}
    {% if products_sliced %}
        <div class="mb-4">
            <h4 class="text-uppercase tracking-widest text-gold small">{% trans "Your Recent Discoveries" %}</h4>
        </div>

        <ul class="row list-unstyled mx-0 p-0">
            {% for product in products_sliced %}
                <li class="col-6 mb-4 px-2">
                    {% render_product product %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
